.menuItem {
  height: 200px;
  /* width: calc(100% / 4); */
  width: 350px;
  display: inline-block;
  margin: 5px;
  border: 1px solid #abb2bf;
  word-wrap: break-word;
}

.titleDescContainer {
  /* height: calc(100% - 60px); */
  height: 140px;
  width: 100%;
  
  border-bottom: 1px solid #abb2bf;
}

.title {
  height: 90px;
  border-bottom: 1px solid #abb2bf;
}

.title div {
  display: inline-block;
  margin: 10px 15px;
  height: 70px;
}

.title div h3 {
  margin: auto;
  display: inline-block;
  line-height: 70px;
  color: white;
}

.category {
  height: 50px;
  width: 100%;
}

.category div {
  display: inline-block;
  margin: 10px 15px;
  height: 30px;
}

.category div p {
  margin: auto;
  display: inline-block;
  line-height: 30px;
}

.catLabel {
  color: white;
  margin-right: 10px !important;
}

.goContainer {
  height: 60px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.goContainer div {
  width: 150px;
  height: 40px;
  border: 1px solid #c778dd;
  display: flex;
  align-items: center;
}

.goContainer div:hover {
  background-color: rgba(199, 120, 221, 0.2);;
  cursor: pointer;
}

.goText {
  margin: auto;
}
