@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

.main {
  width: 80%;
  margin: 50px auto;
  font-family: "Fira Code", monospace;
  color: #abb2bf;
}

.titleContainer {
  font-size: 32px;
  text-align: center;
}

.titleContainer h1 {
  margin: 20px 0;
  color: #c778dd;
}

.titleContainer h3 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 100px;
}

.contentContainer {
  margin: 0px 20px;
}

.box {
  height: 200px; 
  width: calc(100% / 4);
}

/* media query css */

@media (max-width: 820px) {
  .main {
    width: 100%;
  }
}
